@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: white;
}
html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
}

/* NAVBAR */

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

#nav-links {
  display: flex;
  gap: 70px;
  font-size: 1.5rem;
}

#nav-logo {
  font-size: 2rem;
  font-weight: 800;
  cursor: default;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

/* PROFILE */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 0;
  height: 75vh;
}


#profile-img {
  height: 400px;
  width: 400px;
}

.profileText {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.3rem;
  gap: 1rem;
}

.profile-text-2 {
  font-size: larger;
  font-weight: 500;
}

.profile-text-1 {
  font-size: larger;
  font-weight: 400;
}

.profile-my-name {
  font-size: 35px;
  font-weight: 700;
}

#resume-btn {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

#contact-btn {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 30px;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}

.social-icon {
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

.social-icon:hover {
  transform: scale(1.5);
}

.email-icon {
  height: 62px;
  width: 62px;
}

.twitter-icon {
  height: 60px;
  width: 60px;
}

.github-icon {
  padding-left: 3px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-top: 1.3rem;
}

/* ABOUT ME */

#about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me-top {
  padding-top: 2rem;
}
.about-me-top-1 {
  font-size: larger;
  font-weight: 400;
  text-align: center;
}

.about-me-top-2 {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
}

#about-me-pic{
    height: 400px;
    width: 400px;
}

.arrow-scroll{
  height: 14vh;
  position: absolute;
 
  

}
.arrow-scroll span{
  display: block;
  height: 30px;
  width: 30px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;

  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow-scroll:nth-child(2){
  animation-delay: -.2s;
}

.arrow-scroll:nth-child(3){
  animation-delay: -.4s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  50%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
